In [60]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#import scipy.stats as stats
import scipy.stats as stats
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames 


# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [61]:
from src import support_EDA as sp

## Global Renewable Energy Production (2000-2023)
[Source](https://www.kaggle.com/datasets/ahmedgaitani/global-renewable-energy?resource=download)

Dataset Units: Gwh

Columns:
- Year: The year of data collection (e.g., 2000, 2001, etc.).
- Country: The name of the country.
- SolarEnergy: Annual solar energy production in gigawatt-hours (GWh).
- WindEnergy: Annual wind energy production in gigawatt-hours (GWh).
- HydroEnergy: Annual hydro energy production in gigawatt-hours (GWh).
- OtherRenewableEnergy: Annual energy production from other renewable sources (e.g., geothermal, biomass) in gigawatt-hours (GWh).
- TotalRenewableEnergy: Total annual renewable energy production in gigawatt-hours (GWh).

In [3]:
df_general = pd.read_csv("data/raw/global_renewable_energy_production.csv")
df_general.head()

,Year,Country,SolarEnergy,WindEnergy,HydroEnergy,OtherRenewableEnergy,TotalRenewableEnergy
0,2000,USA,437.086107,1435.928598,1544.389701,319.396318,3736.800724
1,2001,USA,240.416776,402.792876,398.742141,439.779266,1481.731059
2,2002,USA,641.003511,1120.494351,334.993640,486.459433,2582.950935
3,2003,USA,849.198377,476.040844,609.102444,132.532029,2066.873694
4,2004,USA,373.818019,882.183361,1034.306532,181.053113,2471.361025

In [4]:
df_general.columns

Index(['Year', 'Country', 'SolarEnergy', 'WindEnergy', 'HydroEnergy',
       'OtherRenewableEnergy', 'TotalRenewableEnergy'],
      dtype='object')

In [5]:
df_general.columns = ['Year', 'Country', 'Solar Energy', 'Wind Energy', 'Hydro Energy',
       'Other Renewable Energy', 'Total Renewable Energy']

In [6]:
df_general.columns

Index(['Year', 'Country', 'Solar Energy', 'Wind Energy', 'Hydro Energy',
       'Other Renewable Energy', 'Total Renewable Energy'],
      dtype='object')

In [7]:
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    240 non-null    int64
 1   Country                 240 non-null    object
 2   Solar Energy            240 non-null    float64
 3   Wind Energy             240 non-null    float64
 4   Hydro Energy            240 non-null    float64
 5   Other Renewable Energy  240 non-null    float64
 6   Total Renewable Energy  240 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.3+ KB

In [8]:
df_general.isna().sum()/df_general.shape[0]*100

Year                      0.0
Country                   0.0
Solar Energy              0.0
Wind Energy               0.0
Hydro Energy              0.0
Other Renewable Energy    0.0
Total Renewable Energy    0.0
dtype: float64

In [9]:
df_general.duplicated().sum()

0

In [10]:
for col in df_general.columns:
    print(col)
    print(df_general[col].unique())
    print('-'*50)

Year
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
--------------------------------------------------
Country
['USA' 'China' 'India' 'Germany' 'UK' 'France' 'Brazil' 'Canada'
 'Australia' 'Japan']
--------------------------------------------------
Solar Energy
[437.08610696 240.4167764  641.00351057 849.19837672 373.81801866
 650.66760525 510.4629858  633.17311198 158.54643369 374.15239226
 209.83441136 332.90198344 592.03925141 945.54904741 179.64325185
 449.80956072 352.84105872 167.09557931 104.96990541 794.14331202
 876.79308329 379.88408954 898.49146832 784.70654376 570.45954644
 128.28626712 916.80982653 305.91834894 936.72788711 823.30486921
 826.69613965 305.14164629 106.25691748 207.8788306  566.91155957
 966.20256545 356.35644494 146.33087612 230.40538488 704.92199267
 431.00481945 181.26079305 136.6976274  560.88375247 721.84396429
 406.95971595 332.14746494 576.68552052 910.37625145 753.36011098
 677.82848154 645.78615369 104.55542546 686.76513355 392.85972834
 691.85160307 338.68213091 902.84189966 619.21349616 352.6951262
 946.41272592 113.91095488 967.25797938 866.02300437 942.53929674
 653.50650403 889.63576474 423.5420361  880.36508672 818.46566107
 901.00480764 620.4521269  357.88712692 840.34050459 792.99419779
 146.51354905 753.48220035 815.66757529 122.81566907 468.05764997
 594.30399824 959.3787526  477.64005619 112.95413977 869.91452561
 542.45428761 458.65426096 437.15135316 692.82426846 123.86017949
 449.35293359 947.3183279  276.21202131 184.99866468 860.38777987
 206.34834486 761.56393942 775.55327648 434.81627721 872.57147666
 192.81148195 388.04464093 914.84377878 955.54643224 363.88969453
 812.42113935 151.80288401 415.8235113  656.39625698 165.48670573
 176.35394268 831.51961053 438.63362698 481.79980832 110.21828029
 205.7736221  965.95529363 301.23625467 138.84392076 166.41690826
 666.45877432 625.88288073 955.37033567 349.64306468 625.29050067
 728.34554262 716.2580553  954.81992196 939.45563502 438.81703019
 634.71764382 854.49583424 150.73794699 996.97315337 864.68265161
 958.64592453 656.31541641 568.27693081 596.7161549  220.61370561
 733.67179129 415.52880293 913.74282504 456.88850409 232.36613284
 513.22218061 670.06076889 215.24125506 263.69207596 700.80196467
 252.04155676 208.57228399 553.07554377 665.11035054 154.97016387
 266.06891742 656.42929438 133.0148826  560.5096979  579.35553981
 118.064078   207.78591864 810.25411475 628.15700622 355.39831522
 420.48705331 191.60422536 267.91032165 172.2103711  200.83501195
 835.36486385 936.43839021 792.54363987 556.84934082 359.76749792
 579.3304893  157.03747343 329.17658929 524.4185697  847.55746701
 944.50641114 617.02580186 281.46458804 698.67749863 453.20059668
 516.4118071  308.99142563 915.82489987 664.93724776 658.06548034
 236.50739176 130.17919126 407.87357384 214.7397961  306.32625571
 724.55360002 263.43794512 515.80522328 555.299811   938.90645424
 736.51477088 481.71760417 505.75543426 212.19641308 632.14789217
 822.56810374 583.65604264 763.7511233  226.77131834 923.36131096
 111.78501093 233.79645498 551.9755093  288.91503379 132.89470106
 797.97485503 460.68675479 875.60705891 679.59958892 744.37500596
 307.96731693 819.92447684 189.49725348 847.19787811 363.83295723
 287.09762963 479.28209553 333.48109009 661.73401706 365.01918359
 881.62117831 482.69215402 670.13039784 985.96196263 116.55160889
 346.64969862 285.77914458 886.50106981 257.83415076 567.02593475]
--------------------------------------------------
Wind Energy
[1435.92859833  402.79287644 1120.49435113  476.04084388  882.18336112
  381.34201885 1220.72874981  260.38553654 1433.55119843  326.97374821
  843.72998314 1061.27896966  440.31079218 1363.27555556  454.77772114
  552.75374131  905.50490811 1482.95301758 1260.09985699  296.25804725
 1010.28756488  622.73831863  813.87940271  929.66035684  755.80332387
 1027.33353464  524.07989789  300.07388278 1250.55649343  442.54107655
 1364.9186899   755.24012521  863.97149335  638.89972282 1113.92464656
  527.31698457  247.95303156  562.24040351  836.28858836 1190.10549993
 1021.99757977 1285.89324427  968.16082614  494.44450776  702.75595019
  347.51557761 1057.97925984  514.40797817 1023.03189446 1366.24333794
  309.38195449  211.9561671   409.05046684  491.5501023  1170.43882665
  938.80118434  517.18653639 1020.4802138   840.27300196  231.61075636
 1440.1071501  1406.81413136 1308.91229211  611.9986067  1104.83873568
 1487.07000514 1162.99920308  581.66939754 1387.21271832 1044.95311001
  639.39370391  246.72495594  968.08323874  668.24783383  480.56733575
  890.76102104 1468.6077033   552.08192664 1451.44293908  425.28261609
 1128.97469951 1159.2659917   522.05028635  350.89443266 1114.75521719
  815.51330201 1000.60512747 1013.61789043  411.81475521  961.50825566
 1036.27468398  701.93342914  290.16969114 1087.90880544  230.25351646
 1105.75831497 1244.5252095  1248.88516105 1209.33684896  757.69223559
 1373.31877868 1364.18019705  318.67267982  945.46925456  627.26390898
 1226.50358563  914.38754702  352.18712136  331.45947896 1268.41807708
 1482.63145205 1431.4231506   308.55093171 1378.26070062  809.25883459
 1043.97339275  687.33175338 1452.18930127 1358.48604781  920.01056972
 1104.47329568 1371.50541364 1357.34291906  444.55750764  301.05502805
  896.92527625  411.40202115 1143.4353609  1325.88305635 1253.71933002
  695.15811362  809.30110773 1324.13908913  922.06121728  521.55253227
  988.02702479  665.61153344 1204.01390926  929.219363    237.41747921
  476.85340996  966.89299291  652.73210713 1008.7127103  1404.56391271
 1474.04234787  512.18930441  397.47350157  649.36746832  424.01583256
  562.16744074  799.01239844 1097.51327722  306.28674153  559.94094259
  472.15412034  679.58773144  528.16802765  891.74753084  515.21165473
  618.70291526 1357.68546496  847.97485861 1169.07131644  672.00698532
 1482.46982343  398.71688094  570.6237193   881.86480644  717.21227876
  535.27367516  923.79176092  443.15687312  515.13265214  955.60968785
  267.37059787 1486.94830211 1085.95353889  735.39318839 1454.53498387
  435.60298602 1294.37740979  412.75272573  879.9850522  1261.57927131
  591.79123641 1369.44694526 1011.50939469  635.37729905  893.49941957
  605.23868813  940.85659033 1267.63449607  716.47347773 1138.92833891
  905.54177635 1380.98572973 1431.4683415   994.89050607  934.67313867
  398.30075579 1157.37750631  347.20945959 1397.0944474   718.70351503
  206.02162991 1395.81230134  787.88332316  429.30308246  671.11206885
 1062.59858362  739.01136085  974.00052252 1367.47057627  813.68702864
  789.27548517  927.5324307  1429.95010077  731.35442243 1056.60112448
 1073.46056668  432.10806067  516.1238483   716.3385885  1365.23656408
  234.49186504 1360.4732244   693.60013062  732.23514785 1432.98929905
  833.66055772  229.21010082  535.25399106  883.39723699 1388.58844853
  920.43140327  214.29457726  976.63703282 1388.7355297   261.05575681]
--------------------------------------------------
Hydro Energy
[1544.38970108  398.74214069  334.9936403   609.10244425 1034.30653169
  796.64590251  639.44542967 1332.82624823 1941.57445623 1463.19614507
  358.4604859   829.90882935 1948.2938672  1316.42996398  376.88639115
 1708.85376556  539.57118246 1612.8161078  1501.65748454  909.39173853
  862.52664225 1540.33050317  503.3102181  1610.64420592  343.21251546
  834.40516783  997.65096916  792.57746995 1376.78638607 1817.35029743
  840.60590745 1690.62510207 1009.59870535 1902.94649665  918.17032404
 1145.32246002 1336.25936777 1844.05200614 1975.60577199  703.98382479
 1377.00050829  845.32611045 1451.85941513 1396.7937437  1892.44098085
 1871.97915107 1689.27774034  458.27470527  876.35064478 1808.04692125
  574.76881396  472.50162287 1232.84744192 1510.70467629 1404.37592838
  459.24710531 1954.11794308 1651.17921602  631.91307926 1397.30290304
 1855.26946337 1027.91305214  800.56311652  588.13766937 1269.10398915
  538.1428259  1484.92675969 1675.91396431 1169.28207806 1493.34369134
  938.49101949 1091.51663083  351.8504249   516.00287151 1358.91380889
 1219.07970674 1177.71059211 1046.2514152  1721.16620487  565.94297254
 1422.33554042 1242.40188927  905.15355371  378.20449144 1106.09550945
  594.44317885 1379.65920647 1155.33163959  419.96687058 1898.39141042
 1079.02991384 1934.0239585   471.32260234  421.02070238 1684.5964204
 1369.20283953  779.45877337 1983.8587414   879.36601843 1576.48081525
 1158.92903316  961.64285385  842.8331839  1374.12326069 1443.28137533
  455.05037518 1050.60185233  543.08585949  442.9815704  1500.61178617
  936.26035279 1976.2018085  1621.14975708  489.03571992  395.71556866
 1568.27629475  785.71054668  320.66260697 1197.09188545 1947.81431055
 1072.71981011  377.25884658 1074.61647974 1088.2872884  1956.47117303
  826.19694769 1848.57621364 1342.80583309  376.87173918 1978.36941984
 1948.85447628 1005.19315397 1681.93171552 1607.27860581 1065.92503003
  688.69276936  493.04790674 1184.27795189 1790.31112452 1583.73333465
  531.8315085   966.81487667 1173.78213157 1766.01830487 1136.59769824
 1137.45075979  428.96765778  536.0061935  1824.54029684  626.89133197
  600.91782327  650.76732129  366.83063773 1785.08366098 1670.54217565
  929.80257475 1086.30901743 1512.694296    482.19241928  757.71349261
  659.46161189 1309.10717104  447.76448975 1033.82122859 1398.05931026
 1329.81719291  718.12813825  594.735112    997.67460588 1948.09973657
  590.50889856 1271.7415721   850.25470189  495.22260206  562.41661597
  872.22727293  848.00153646 1592.38736181  893.07605312  511.30527993
  413.04365452  537.61304026  579.25185648  910.01182301 1046.52934457
 1570.9359463   952.61507633  498.7266692   536.76252353 1819.61739119
  722.43153768 1596.17976576  488.07395282 1655.40212183 1524.06211213
  728.05840014 1291.7660511   560.6973853   330.7873125  1484.30640059
 1279.69021228 1888.42392511 1974.23003824 1778.82381551  393.094786
  866.94859187  888.78819042  681.828199   1147.22521366 1287.00019547
  602.66114368  445.09443573  414.03001156  648.73738882 1260.22992655
 1191.46345786  563.90841808  934.62583768  343.15680462  346.06318726
  333.50791418 1409.66838335 1527.85378415 1435.74473217  322.10326997
  608.44023965 1689.65405496 1303.50140228 1238.48020745 1598.12985007
 1820.73878572  756.75151095  536.90532592  591.85478594  500.17684091
 1407.4146602   532.70557112 1320.87866274 1011.90989232  582.68172689]
--------------------------------------------------
Other Renewable Energy
[319.39631789 439.7792656  486.45943347 132.53202943 181.05311309
 214.86282948 281.40549729 126.73585566 413.77880665 248.06862218
 459.19418094 284.03060953 398.80977051 464.84340576 196.39864884
 210.53899701 410.98864134 139.42205669 378.05322562 102.14107679
  78.60125763 336.90086211 370.96015425 272.20801836  98.55114215
 278.85681102 389.99801234 122.54957926 442.15726558 292.70400886
  99.52336604 437.32876247 149.94851471 195.44131941 487.30193722
 185.39523942 276.20556045 157.8028508  158.92487218 377.69735688
 291.09860783 133.93332968  57.46452302 128.46489305 111.88442487
 444.80270902 299.84036522 453.74709108 207.14430858 400.94399564
 454.34938484 348.5757961  361.35283896 156.76208937 432.15053472
 215.47211138 226.8939761  276.1866919  375.10345187 129.69980573
 216.57141511 484.99466857 223.29397787 300.56056811  93.7294222
 283.24834356 366.11783779 414.55102761 275.68233261 408.10670125
  92.29187293 294.19008562  66.80668494 285.00946702  88.40635925
 336.84345567 195.33041282  85.3053716  363.18839274 162.60930417
 175.97025363 325.27433581 391.03074971  68.32796104  94.02537229
 245.23324216  70.3868044  435.42042853 339.08867519 308.96338004
 295.52755519 457.40778888  58.19982154 193.53903363 176.83464865
 444.86240609 129.8477947  235.67795461 468.84079652 389.54429334
 421.90585975  54.87694317 477.52788517 251.80048489 388.56853825
 272.48913712 449.46688224 392.67978427 365.43610916  86.60695129
 216.78896618 389.02018337 301.28191238 271.68129693 103.46806232
 312.51594429 440.86960769 486.44547202 496.83415825 285.39402988
 332.40113604 176.43343532 329.05966901 209.00850261 493.79483502
 416.20775887 420.14175932 238.20936633  61.86513852 117.687601
 428.95351541 173.03318237 499.87295298 475.14457845 108.12173682
 352.26530798 352.20793802 433.48167514 231.5672898  329.13929811
  56.54509955 246.86371491 402.64385573 477.28428065 166.20997473
 197.93822463 107.99587486 338.39363516 263.28273812  68.39087732
  89.91614019 213.92143747 409.73467951 464.39258024 386.71686067
 268.03534334 386.36192216 452.84307696 251.33556507 219.7778734
 197.37380848 355.59604362 291.69794382 107.41113626 306.8502371
 156.75205628 122.30661797 453.54444108 492.07037761 439.47820665
 350.88944897 175.99059215 241.44639738 324.7790191  266.51304583
 110.48660462 414.44350063 318.03743327 468.28811491 378.89036384
 383.50429218 407.87029034 416.5586241  444.74024337 219.62499324
 276.22417554 294.5987875  472.92445563 407.31133517 404.86874505
 384.77583166 444.54453654 430.90353128 117.46284231 338.5164348
 205.56319708 230.38313754 313.80342441 442.45575902 465.12472153
 323.02177087 466.50583081 427.5041389  283.47712571 200.83875874
 229.17591212 206.12894085 253.59778226 238.51645228 334.51892956
 482.48164286 498.59341333 387.48221168 135.8094743   79.56888774
 248.34323612 131.86765872 171.83510291 120.26866881 149.88747287
  96.84886189 157.18225147 435.06341065 142.24293294  88.47883888
 312.36870244 203.81780826 170.62863837 246.25693811 113.05092909
 409.93486518 293.7353966  425.71860656 172.53829693 309.43241398
 423.38381167 455.00838883 349.26650355 222.41233771 382.11512739]
--------------------------------------------------
Total Renewable Energy
[3736.80072426 1481.73105912 2582.95093548 2066.87369429 2471.36102457
 2043.51835609 2652.04266256 2353.1207524  3947.450895   2412.39090772
 1871.21906134 2508.12039198 3379.4536813  4090.0979727  1207.70601298
 2921.9560646  2208.90579062 3402.28676139 3244.78047256 2101.93417458
 2828.20854804 2879.85377346 2586.64124337 3597.21912488 1768.02652792
 2268.88178061 2828.53870593 1521.11928094 4006.22803219 3375.90025206
 3131.74410304 3188.33563604 2129.77563089 2945.16636949 3086.3084674
 2824.23724946 2216.77440472 2710.42613658 3201.22461741 2976.70867426
 3121.10151535 2446.41347745 2614.18239169 2580.58689697 3428.9253202
 3071.25715365 3379.24483035 2003.11529504 3016.90309926 4328.59436581
 2016.32863483 1678.81973977 2107.80617319 2845.78200152 3399.8250181
 2305.37200409 3036.88058649 3850.68802137 2466.50302925 2111.30859133
 4458.36075451 3033.63280695 3300.02736588 2366.71984854 3410.21144377
 2961.96767863 3903.6795653  3095.67642556 3712.54221572 3764.86916367
 2571.18140396 2252.88379928 1744.62747549 2309.60067696 2720.88170167
 2593.1977325  3595.13090859 2499.30628874 3658.61320577 1621.89254278
 3321.58449179 3686.32096938 2295.87464595  910.38102491 3184.79062455
 2197.64401062 2909.3053993  3041.52131171 1863.69456944 3292.72322561
 2860.18508659 4040.68350442 1095.90413633 1887.46720614 2952.07236538
 3126.17190545 2915.395717   4243.97513354 2992.35994113 3596.28882083
 3146.96515355 2768.74463499 2553.87752768 3526.93943238 2823.00351709
 2766.46423729 2566.25916561 1703.77627642 1796.2734155  3021.12352026
 2812.03471369 4628.164753   2669.61622814 2620.7775258  1418.66074586
 3130.5392539  2879.86720137 2560.53363493 3191.25601226 3319.63581841
 3176.05301614 2551.08057627 3716.38940347 2091.49636333 3376.61153677
 2867.67552542 3396.3780494  3679.27048229 2704.07556907 3788.59338104
 3707.68374913 2842.02327832 3656.68170462 4001.4575549  2560.28195072
 2987.63102666 2167.18279461 3390.0504671  3547.81393221 2370.90381757
 1798.9018093  2596.10038742 3142.90091948 3708.9037999  2939.73771852
 3322.6535129  1719.21360594 1487.11458529 3000.88257924 1820.10000653
 1505.04296097 1872.27344119 2427.15413823 3220.8733333  2772.17014278
 1936.06095584 2808.6879654  2626.72028321 2185.7852131  2072.05856055
 1593.60241363 3230.17459826 2397.69140692 2938.46068751 2732.3148479
 3389.52612593 1430.75586252 1886.81359403 2543.82016103 3305.62523393
 2312.03688654 3307.96231538 2327.40161226 1891.98361411 2144.30684757
 1829.41496472 2906.43081262 3325.55492326 2621.17592612 3192.28809464
 2176.65734386 2856.88654225 1690.02779436 2933.4146172  2980.9342058
 2955.36316536 2925.65223472 2898.98541939 2244.38840552 3776.05103614
 1948.95344924 3111.7600839  2594.48555402 2704.07823796 3307.83314155
 2563.71697359 3166.5728635  2821.77437448 2323.43338858 3823.01071502
 2737.52750983 3994.0248664  3254.69907099 3671.5918017  1944.78495194
 2124.71423764 3074.38547526 2487.06042771 2041.81606673 3215.99250485
 2259.52638109 1916.49566489 2327.48825505 2440.93247318 2286.380544
 3027.05703418 2083.99526229 3412.01810028 1874.37948478 2296.92679057
 1811.78465968 2818.88317233 2668.53829659 3141.52413172 2139.65163017
 1442.39843676 3733.22718315 2501.21126135 2878.70631047 3509.18926181
 3945.95538693 1762.38916239 2168.00832139 2633.7522825  2314.74931232
 3097.87957376 1487.78768179 3533.28326891 2880.89191049 1792.87854584]
--------------------------------------------------

In [11]:
df_general.to_csv("data/usable/global_renewable_energy_production.csv")

In [38]:
df_general_pivot = sp.pivot_df(df_general, ["Year", "Country"], "Energy type", "Production (GWh)")

df_general_pivot.sample(10)

      Year    Country             Energy type  Production (GWh)
605   2005     France            Hydro Energy        826.196948
42    2018      China            Solar Energy        136.697627
920   2008  Australia  Other Renewable Energy        323.021771
215   2023  Australia            Solar Energy        797.974855
1167  2015  Australia  Total Renewable Energy       2487.060428
939   2003      Japan  Other Renewable Energy        149.887473
374   2014     France             Wind Energy        521.552532
925   2013  Australia  Other Renewable Energy        229.175912
372   2012     France             Wind Energy       1324.139089
540   2012      India            Hydro Energy       1855.269463

In [39]:
df_general_pivot.to_csv("data/usable/global_renewable_energy_production_pivot.csv")

## Global primary energy consumption by source (1990-2023)
[Source](https://ourworldindata.org/grapher/global-energy-substitution?time=1990..2023)

- Dataset Units: Gwh
- Consumption

In [16]:
df_countries = pd.read_csv("data/raw/global-energy-substitution.csv")

In [17]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 13 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Entity                                         76 non-null     object
 1   Code                                           76 non-null     object
 2   Year                                           76 non-null     int64
 3   Other renewables (TWh, substituted energy)     76 non-null     float64
 4   Biofuels (TWh, substituted energy)             76 non-null     float64
 5   Solar (TWh, substituted energy)                76 non-null     float64
 6   Wind (TWh, substituted energy)                 76 non-null     float64
 7   Hydropower (TWh, substituted energy)           76 non-null     float64
 8   Nuclear (TWh, substituted energy)              76 non-null     float64
 9   Gas (TWh, substituted energy)                  76 non-null     float64
 10  Oil (TWh, substituted energy)                  76 non-null     float64
 11  Coal (TWh, substituted energy)                 76 non-null     float64
 12  Traditional biomass (TWh, substituted energy)  76 non-null     int64
dtypes: float64(9), int64(2), object(2)
memory usage: 7.8+ KB

In [18]:
df_countries.head()

,Entity,Code,Year,"Other renewables (TWh, substituted energy)","Biofuels (TWh, substituted energy)","Solar (TWh, substituted energy)","Wind (TWh, substituted energy)","Hydropower (TWh, substituted energy)","Nuclear (TWh, substituted energy)","Gas (TWh, substituted energy)","Oil (TWh, substituted energy)","Coal (TWh, substituted energy)","Traditional biomass (TWh, substituted energy)"
0,World,OWID_WRL,1800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,5556
1,World,OWID_WRL,1810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128.0,5833
2,World,OWID_WRL,1820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153.0,6111
3,World,OWID_WRL,1830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264.0,6389
4,World,OWID_WRL,1840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,356.0,6944

In [19]:
df_countries.isna().sum()/df_countries.shape[0]*100

Entity                                           0.0
Code                                             0.0
Year                                             0.0
Other renewables (TWh, substituted energy)       0.0
Biofuels (TWh, substituted energy)               0.0
Solar (TWh, substituted energy)                  0.0
Wind (TWh, substituted energy)                   0.0
Hydropower (TWh, substituted energy)             0.0
Nuclear (TWh, substituted energy)                0.0
Gas (TWh, substituted energy)                    0.0
Oil (TWh, substituted energy)                    0.0
Coal (TWh, substituted energy)                   0.0
Traditional biomass (TWh, substituted energy)    0.0
dtype: float64

In [20]:
df_countries.duplicated().sum()

0

In [21]:
df_countries['Entity'].unique()

array(['World'], dtype=object)

In [22]:
df_world = df_countries[df_countries['Year'] >= 1990]

In [23]:
df_world['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023], dtype=int64)

Vamos a transformar los datos a formato largo para tener las columnas en filas (y no una columna para cada tipo de energía.)

In [40]:
df_world_pivot = sp.pivot_df(df_world, ["Entity", "Code", "Year"], "Energy type", "Consumption (TWh)")

In [41]:
df_world_pivot.sample(10)

,Entity,Code,Year,Energy type,Consumption (TWh)
274,World,OWID_WRL,1992,"Coal (TWh, substituted energy)",25567.281000
3,World,OWID_WRL,1993,"Other renewables (TWh, substituted energy)",418.267270
142,World,OWID_WRL,1996,"Hydropower (TWh, substituted energy)",7442.194300
80,World,OWID_WRL,2002,"Solar (TWh, substituted energy)",5.245938
155,World,OWID_WRL,2009,"Hydropower (TWh, substituted energy)",9066.074000
77,World,OWID_WRL,1999,"Solar (TWh, substituted energy)",2.676927
63,World,OWID_WRL,2019,"Biofuels (TWh, substituted energy)",1119.627800
279,World,OWID_WRL,1997,"Coal (TWh, substituted energy)",26547.277000
19,World,OWID_WRL,2009,"Other renewables (TWh, substituted energy)",1049.248000
180,World,OWID_WRL,2000,"Nuclear (TWh, substituted energy)",7322.682600

In [26]:
df_world.to_csv('data/usable/global_energy_consumption.csv')

In [42]:
df_world_pivot.to_csv('data/usable/global_energy_consumption_pivot.csv', index=False)

## Dataset: Renewable Energy World Wide : 1965~2022 
[Source](https://www.kaggle.com/datasets/belayethossainds/renewable-energy-world-wide-19652022/data?select=01+renewable-share-energy.csv)

### `12-solar-energy-consumption.csv`:

Ideas:
- Hacer un ranking de países o continentes que más producen y más consumen (una otra o las dos)
- Electricity from solar (TWh): potencia consumida que se ha generado a partir de energía solar.
- `definición`: energía de origen solar consumida al año. Hay dos tecnologías para energía solar: (1) mayoritaria: fotovotaica que es con paneles solares y (2) termosolar: mucho menos utilizada.

In [28]:
df_solar_consump = pd.read_csv("data/raw/12-solar-energy-consumption.csv")

df_solar_consump.head()

        Entity Code  Year  Electricity from solar (TWh)
0  Afghanistan  AFG  2000                           0.0
1  Afghanistan  AFG  2001                           0.0
2  Afghanistan  AFG  2002                           0.0
3  Afghanistan  AFG  2003                           0.0
4  Afghanistan  AFG  2004                           0.0

In [29]:
df_solar_consump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8683 entries, 0 to 8682
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        8683 non-null   object
 1   Code                          7227 non-null   object
 2   Year                          8683 non-null   int64
 3   Electricity from solar (TWh)  8683 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 271.5+ KB

In [30]:
df_solar_consump.isna().sum()/df_solar_consump.shape[0]*100

Entity                           0.000000
Code                            16.768398
Year                             0.000000
Electricity from solar (TWh)     0.000000
dtype: float64

In [31]:
df_solar_consump['Entity'][df_solar_consump['Code'].isna()].unique()

array(['Africa', 'Africa (BP)', 'Africa (Ember)', 'Asia', 'Asia (Ember)',
       'Asia Pacific (BP)', 'CIS (BP)', 'Central America (BP)',
       'Eastern Africa (BP)', 'Europe', 'Europe (BP)', 'Europe (Ember)',
       'European Union (27)', 'European Union (27) (Ember)',
       'G20 (Ember)', 'G7 (Ember)', 'High-income countries',
       'Latin America and Caribbean (Ember)', 'Low-income countries',
       'Lower-middle-income countries', 'Middle Africa (BP)',
       'Middle East (BP)', 'Non-OECD (BP)', 'North America',
       'North America (BP)', 'North America (Ember)', 'OECD (BP)',
       'OECD (Ember)', 'Oceania', 'Oceania (Ember)', 'South America',
       'South and Central America (BP)', 'Upper-middle-income countries',
       'Western Africa (BP)'], dtype=object)

--> no nos cargamos datos, por si acaso, y ya luego filtraremos en Tableau

In [32]:
df_solar_consump[df_solar_consump["Code"].notna()].sample(10)

                    Entity Code  Year  Electricity from solar (TWh)
1890                Cyprus  CYP  1998                          0.00
2344               Eritrea  ERI  2016                          0.00
2085              Dominica  DMA  2010                          0.00
7347             Sri Lanka  LKA  1969                          0.00
275                 Angola  AGO  2019                          0.02
2073              Djibouti  DJI  2020                          0.00
213                Algeria  DZA  2001                          0.00
8082  United Arab Emirates  ARE  2000                          0.00
1821               Croatia  HRV  2009                          0.00
7320                 Spain  ESP  2000                          0.01

In [33]:
#vemos los que más consumen:
df_solar_consump[(df_solar_consump["Code"].notna()) & (df_solar_consump["Entity"] != "World") & (df_solar_consump["Year"] == 2021)].sort_values('Electricity from solar (TWh)', ascending=False).head(20)

                    Entity Code  Year  Electricity from solar (TWh)
1634                 China  CHN  2021                        327.00
8217         United States  USA  2021                        164.42
4048                 Japan  JPN  2021                         88.70
3625                 India  IND  2021                         68.31
3026               Germany  DEU  2021                         49.34
593              Australia  AUS  2021                         28.04
7341                 Spain  ESP  2021                         27.10
8486               Vietnam  VNM  2021                         25.77
3968                 Italy  ITA  2021                         25.04
7223           South Korea  KOR  2021                         23.95
1101                Brazil  BRA  2021                         16.75
2824                France  FRA  2021                         15.73
4904                Mexico  MEX  2021                         14.16
7937                Turkey  TUR  2021                         12.97
8160        United Kingdom  GBR  2021                         12.47
5304           Netherlands  NLD  2021                         11.50
1577                 Chile  CHL  2021                         10.79
7637                Taiwan  TWN  2021                          7.97
8103  United Arab Emirates  ARE  2021                          6.69
7115          South Africa  ZAF  2021                          6.65

In [34]:
df_solar_consump['Electricity from solar (TWh)'].describe()

count    8683.000000
mean        5.277942
std        40.098862
min         0.000000
25%         0.000000
50%         0.000000
75%         0.010000
max      1040.500000
Name: Electricity from solar (TWh), dtype: float64

In [35]:
#creamos columna GWh para poder compararla luego con la capacity que está en esta unidad
df_solar_consump['Electricity from solar (GWh)'] = df_solar_consump['Electricity from solar (TWh)']/1000

In [43]:
df_solar_consump.head()

,Entity,Code,Year,Electricity from solar (TWh),Electricity from solar (GWh)
0,Afghanistan,AFG,2000,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.0

In [36]:
df_solar_consump.duplicated().sum()

0

In [37]:
df_solar_consump.isnull().sum()/df_solar_consump.shape[0]*100

Entity                           0.000000
Code                            16.768398
Year                             0.000000
Electricity from solar (TWh)     0.000000
Electricity from solar (GWh)     0.000000
dtype: float64

In [26]:
df_solar_consump.to_csv('data/usable/territorial_solar_consumption.csv')

In [46]:
df_solar_consump_pivot = sp.pivot_df(df_solar_consump, ['Entity', 'Code', 'Year'], 'Units', 'Electricity from solar')

df_solar_consump_pivot.sample(20)

,Entity,Code,Year,Units,Electricity from solar
4274,Latin America and Caribbean (Ember),NaN,2005,Electricity from solar (TWh),0.020000
10792,Dominican Republic,DOM,2012,Electricity from solar (GWh),0.000000
8065,United Arab Emirates,ARE,1983,Electricity from solar (TWh),0.000000
15044,Puerto Rico,PRI,2006,Electricity from solar (GWh),0.000000
6620,Saint Lucia,LCA,2018,Electricity from solar (TWh),0.000000
3948,Italy,ITA,2001,Electricity from solar (TWh),0.020000
17149,Vietnam,VNM,2001,Electricity from solar (GWh),0.000000
8131,United Kingdom,GBR,1992,Electricity from solar (TWh),0.000000
7779,Togo,TGO,2021,Electricity from solar (TWh),0.020000
6984,Slovenia,SVN,1992,Electricity from solar (TWh),0.000000
16877,United States,USA,1998,Electricity from solar (GWh),0.000525
4059,Jordan,JOR,2010,Electricity from solar (TWh),0.000000
4378,Liberia,LBR,2010,Electricity from solar (TWh),0.000000
4244,Kyrgyzstan,KGZ,2019,Electricity from solar (TWh),0.000000
12304,India,IND,2017,Electricity from solar (GWh),0.021540
7826,Trinidad and Tobago,TTO,1989,Electricity from solar (TWh),0.000000
4365,Lesotho,LSO,2019,Electricity from solar (TWh),0.000000
9459,Bangladesh,BGD,2019,Electricity from solar (GWh),0.000330
9434,Bangladesh,BGD,1994,Electricity from solar (GWh),0.000000
3565,Iceland,ISL,2018,Electricity from solar (TWh),0.000000

In [47]:
df_solar_consump_pivot.to_csv('data/usable/territorial_solar_consumption_pivot.csv')

### `13-installed-solar-PV-capacity.csv`:

Ideas:
- Solar Capacity: no tenemos ni idea en qué unidades está esto. En principio decmos que son GWp (Giga Watt pico). Al estar por países/zonas, debería ser así, ya que los MW se quedarían cortos.

- `definición`: potencia solar fotovoltaica (no hay termosolar) instalada por territorio. No puede ser GWh , le sobra la hora porque estamos ante una medida de potencia no una medida de energía (la energía si lleva la hora).

In [48]:
df_solar_installed = pd.read_csv('data/raw/13-installed-solar-PV-capacity.csv')

In [49]:
df_solar_installed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          1659 non-null   object
 1   Code            1243 non-null   object
 2   Year            1659 non-null   int64
 3   Solar Capacity  1659 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 52.0+ KB

In [50]:
#mirando los datos de españa de esta tabla y comparándolos con los datos de España del 2021, 
# llegamos a la conclusion de que esta medida son GW y que en en el 2021 en la fuente contrastada son 14,8 GW
df_solar_installed[df_solar_installed['Entity'] == 'Spain'].tail()

     Entity Code  Year  Solar Capacity
1346  Spain  ESP  2017        4.723000
1347  Spain  ESP  2018        4.763607
1348  Spain  ESP  2019        8.839253
1349  Spain  ESP  2020       10.285477
1350  Spain  ESP  2021       13.648477

In [51]:
#vemos los que más capacidad solar tienen instalada:
df_solar_installed[(df_solar_installed["Code"].notna()) & (df_solar_installed["Entity"] != "World") & (df_solar_installed["Year"] == 2021)].sort_values('Solar Capacity', ascending=False).head(20)

              Entity Code  Year  Solar Capacity
389            China  CHN  2021      306.402800
1584   United States  USA  2021       93.713016
779            Japan  JPN  2021       74.191000
571          Germany  DEU  2021       58.459000
701            India  IND  2021       49.341508
753            Italy  ITA  2021       22.692040
181        Australia  AUS  2021       19.074000
1298     South Korea  KOR  2021       18.160574
1632         Vietnam  VNM  2021       16.660490
545           France  FRA  2021       14.709225
961      Netherlands  NLD  2021       14.249000
1558  United Kingdom  GBR  2021       13.689000
1350           Spain  ESP  2021       13.648477
259           Brazil  BRA  2021       13.054926
1506         Ukraine  UKR  2021        8.062000
1480          Turkey  TUR  2021        7.815555
1428          Taiwan  TWN  2021        7.700213
883           Mexico  MEX  2021        7.026000
233          Belgium  BEL  2021        6.584600
1116          Poland  POL  2021        6.256754

In [52]:
df_solar_installed.head()

   Entity Code  Year  Solar Capacity
0  Africa  NaN  1996        0.001112
1  Africa  NaN  1997        0.003137
2  Africa  NaN  1998        0.005162
3  Africa  NaN  1999        0.008199
4  Africa  NaN  2000        0.010927

In [53]:
df_solar_installed.isna().sum()/df_solar_installed.shape[0]*100

Entity             0.000000
Code              25.075347
Year               0.000000
Solar Capacity     0.000000
dtype: float64

In [55]:
df_solar_installed.rename(columns = {'Solar Capacity': 'Solar Capacity (GW)'}, inplace = True)

In [56]:
df_solar_installed.to_csv('data/usable/territorial_solar_capacity.csv')

----> hacer en tableau: `Merge consumption// capacity solar`:

- potencia real consumida entre el máximo de capacidad solar de cada territorio.

- Para que tengan ambas unidades coincidentes: la potencia hay que dividira entre 1000 para sacar la proporción.

### `15-share-electricity-solar.csv`:

- Solar (% electricity): porcentaje sobre total de electricidad producida. Me comenta mi padre que podría ser de electricidad consumida en lugar de producida, pero que normalmente cuando se habla en genérico se entiende que es `producida o generada` y ya luego la consumida puede variar un poco en función de lo exportado/importado, pero suele ir bastante parejo con lo producido.

In [57]:
df_elec_solar = pd.read_csv('data/raw/15-share-electricity-solar.csv')

In [58]:
#vemos los que más % de electricidad solar producida son:
df_elec_solar[(df_elec_solar["Code"].notna()) & (df_elec_solar["Entity"] != "World") & (df_elec_solar["Year"] == 2021)].sort_values('Solar (% electricity)', ascending=False).head(20)

            Entity Code  Year  Solar (% electricity)
1418  Cook Islands  COK  2021              40.000000
4199       Namibia  NAM  2021              24.203821
4843     Palestine  PSE  2021              23.255814
6826         Yemen  YEM  2021              17.045456
1852   El Salvador  SLV  2021              16.920732
3215        Jordan  JOR  2021              15.996345
3665    Luxembourg  LUX  2021              14.634146
6646       Vanuatu  VUT  2021              14.285714
1278         Chile  CHL  2021              13.237639
6196         Tonga  TON  2021              12.500000
3732        Malawi  MWI  2021              11.971831
5332         Samoa  WSM  2021              11.764706
465      Australia  AUS  2021              11.349470
4384         Niger  NER  2021              11.111112
5467    Seychelles  SYC  2021              10.769231
2761      Honduras  HND  2021              10.693400
2835       Hungary  HUN  2021              10.567297
6720       Vietnam  VNM  2021              10.528251
5836         Spain  ESP  2021              10.007016
3845         Malta  MLT  2021               9.677419

In [49]:
#por qué no sale china???
df_elec_solar[df_elec_solar['Entity'] == 'China'].tail()

     Entity Code  Year  Solar (% electricity)
1311  China  CHN  2017               1.796208
1312  China  CHN  2018               2.484341
1313  China  CHN  2019               3.002081
1314  China  CHN  2020               3.375448
1315  China  CHN  2021               3.854305

In [62]:
#Buscamos España igualmente, para hacer la comparación con datos reales de otras fuentes, y es correcto.
df_elec_solar[df_elec_solar['Entity'] == 'Spain'].tail()

     Entity Code  Year  Solar (% electricity)
5833  Spain  ESP  2018               4.685891
5834  Spain  ESP  2019               5.574218
5835  Spain  ESP  2020               7.958264
5836  Spain  ESP  2021              10.007016
5837  Spain  ESP  2022              11.505917

In [63]:
df_elec_solar.head()

        Entity Code  Year  Solar (% electricity)
0  Afghanistan  AFG  2000                    0.0
1  Afghanistan  AFG  2001                    0.0
2  Afghanistan  AFG  2002                    0.0
3  Afghanistan  AFG  2003                    0.0
4  Afghanistan  AFG  2004                    0.0

In [64]:
df_elec_solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 6871 non-null   object
 1   Code                   5781 non-null   object
 2   Year                   6871 non-null   int64
 3   Solar (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB

In [65]:
df_elec_solar.isna().sum()/df_elec_solar.shape[0]*100

Entity                    0.000000
Code                     15.863775
Year                      0.000000
Solar (% electricity)     0.000000
dtype: float64

In [66]:
df_elec_solar.duplicated().sum()

0

In [67]:
df_elec_solar.to_csv('data/usable/territorial_solar_electricity.csv')

### `08-wind-generation.csv`:

- `definición`: energía eólica generada en un año y en un territorio específico

In [68]:
df_generation_wind = pd.read_csv('data/raw/08-wind-generation.csv')

In [69]:
#vemos los que más % de electricidad solar producida son:
df_generation_wind[(df_generation_wind["Code"].notna()) & (df_generation_wind["Entity"] != "World") & (df_generation_wind["Year"] == 2021)].sort_values('Electricity from wind (TWh)', ascending=False).head(10)

              Entity Code  Year  Electricity from wind (TWh)
1646           China  CHN  2021                       655.60
8210   United States  USA  2021                       378.20
3038         Germany  DEU  2021                       114.65
1113          Brazil  BRA  2021                        71.50
3637           India  IND  2021                        68.09
8153  United Kingdom  GBR  2021                        65.02
7334           Spain  ESP  2021                        62.06
2836          France  FRA  2021                        36.83
1393          Canada  CAN  2021                        35.21
7930          Turkey  TUR  2021                        31.21

In [70]:
#China??:
df_generation_wind[df_generation_wind['Entity'] == "China"].tail()

     Entity Code  Year  Electricity from wind (TWh)
1642  China  CHN  2017                        304.6
1643  China  CHN  2018                        365.8
1644  China  CHN  2019                        405.3
1645  China  CHN  2020                        466.5
1646  China  CHN  2021                        655.6

In [71]:
df_generation_wind.head()

        Entity Code  Year  Electricity from wind (TWh)
0  Afghanistan  AFG  2000                          0.0
1  Afghanistan  AFG  2001                          0.0
2  Afghanistan  AFG  2002                          0.0
3  Afghanistan  AFG  2003                          0.0
4  Afghanistan  AFG  2004                          0.0

In [72]:
df_generation_wind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8676 entries, 0 to 8675
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Entity                       8676 non-null   object
 1   Code                         7217 non-null   object
 2   Year                         8676 non-null   int64
 3   Electricity from wind (TWh)  8676 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 271.3+ KB

In [73]:
df_generation_wind.isna().sum()/df_generation_wind.shape[0]*100

Entity                          0.000000
Code                           16.816505
Year                            0.000000
Electricity from wind (TWh)     0.000000
dtype: float64

In [74]:
df_generation_wind['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2022], dtype=int64)

In [47]:
df_generation_wind.duplicated().sum()

0

In [75]:
df_generation_wind[df_generation_wind['Entity'] == "Spain"].tail()

     Entity Code  Year  Electricity from wind (TWh)
7331  Spain  ESP  2018                        50.90
7332  Spain  ESP  2019                        55.65
7333  Spain  ESP  2020                        56.44
7334  Spain  ESP  2021                        62.06
7335  Spain  ESP  2022                        61.85

In [76]:
df_generation_wind.to_csv('data/usable/territorial_wind_generation.csv')

Mismo número de nulos en Code que en los de energía solar. Los datos de España y las unidades cuadran con otras fuentes.

### `11-share-electricity-wind.csv`:
- Wind (% electricity): porcentaje total de viento sobre total de electricidad producida

In [77]:
df_elec_wind = pd.read_csv('data/raw/11-share-electricity-wind.csv')

In [78]:
df_elec_wind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                6871 non-null   object
 1   Code                  5781 non-null   object
 2   Year                  6871 non-null   int64
 3   Wind (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB

In [79]:
df_elec_wind.head()

        Entity Code  Year  Wind (% electricity)
0  Afghanistan  AFG  2000                   0.0
1  Afghanistan  AFG  2001                   0.0
2  Afghanistan  AFG  2002                   0.0
3  Afghanistan  AFG  2003                   0.0
4  Afghanistan  AFG  2004                   0.0

In [80]:
df_elec_wind.duplicated().sum()

0

In [81]:
df_elec_wind.isna().sum()/df_elec_wind.shape[0]*100

Entity                   0.000000
Code                    15.863775
Year                     0.000000
Wind (% electricity)     0.000000
dtype: float64

In [82]:
df_elec_wind.to_csv('data/usable/territorial_wind_electricity.csv')

In [83]:
df_elec_wind[(df_elec_wind['Entity'] == "Spain") & (df_elec_wind['Year'] == 2022)]

     Entity Code  Year  Wind (% electricity)
5837  Spain  ESP  2022             21.716232

Los datos cuadran con otras fuentes.

Podría ser interesante ver la variación de generación en el tiempo (para esta y otras) sólo para los países que consideremos "clave" en la producción de energías renovables.

### `09-cumulative-installed-wind-energy-capacity-gigawatts`:

- `definición`: potencia eólica instalada por territorio en GWp.

- Máximo que se puede generar a cierta fecha: es decir, total de potencia instalada a lo largo del tiempo.
- preguntas de viento : cuánto produce, capacidad de producir.. nos centramos más en la capacidad y producción que en el consumo, porque no tenemos ese dato.

In [84]:
df_installed_wind = pd.read_csv('data/raw/09-cumulative-installed-wind-energy-capacity-gigawatts.csv')

In [85]:
df_installed_wind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Entity         1540 non-null   object
 1   Code           1143 non-null   object
 2   Year           1540 non-null   int64
 3   Wind Capacity  1540 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 48.3+ KB

In [86]:
df_installed_wind.isna().sum()/df_installed_wind.shape[0]*100

Entity            0.000000
Code             25.779221
Year              0.000000
Wind Capacity     0.000000
dtype: float64

In [87]:
df_installed_wind.duplicated().sum()

0

In [94]:
df_installed_wind.rename(columns={'Wind Capacity' : 'Wind Capacity (GWp)'}, inplace=True)

In [95]:
#Buscamos España igualmente, para hacer la comparación con datos reales:.
df_installed_wind[(df_installed_wind['Entity'] == 'Spain')]

     Entity Code  Year  Wind Capacity (GWp)
1241  Spain  ESP  1997             0.512000
1242  Spain  ESP  1998             0.723000
1243  Spain  ESP  1999             1.408000
1244  Spain  ESP  2000             2.206000
1245  Spain  ESP  2001             3.397000
1246  Spain  ESP  2002             4.891000
1247  Spain  ESP  2003             5.945000
1248  Spain  ESP  2004             8.317000
1249  Spain  ESP  2005             9.918000
1250  Spain  ESP  2006            11.722000
1251  Spain  ESP  2007            14.820000
1252  Spain  ESP  2008            16.555000
1253  Spain  ESP  2009            19.176000
1254  Spain  ESP  2010            20.693000
1255  Spain  ESP  2011            21.529000
1256  Spain  ESP  2012            22.789000
1257  Spain  ESP  2013            22.958000
1258  Spain  ESP  2014            22.925000
1259  Spain  ESP  2015            22.943000
1260  Spain  ESP  2016            22.990000
1261  Spain  ESP  2017            23.124479
1262  Spain  ESP  2018            23.405055
1263  Spain  ESP  2019            25.590076
1264  Spain  ESP  2020            26.819190
1265  Spain  ESP  2021            27.497190

In [96]:
df_installed_wind.head()

   Entity Code  Year  Wind Capacity (GWp)
0  Africa  NaN  1997              0.00600
1  Africa  NaN  1998              0.01000
2  Africa  NaN  1999              0.06400
3  Africa  NaN  2000              0.13905
4  Africa  NaN  2001              0.13905

In [97]:
df_installed_wind.to_csv('data/usable/territorial_wind_cumulative_capacity.csv')

Parece que los datos y las unidades para España cuadran con otras fuentes. Los nulos de code parece que tienen sentido, no existe el código para áreas que no sean países.

## GDP (Gross Domestic Product) (1990-2023)
[Source](https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.PCAP.CD&country=#)

`GDP (Gross Domestic Product)`: GDP per capita is gross domestic product divided by midyear population. GDP is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products. It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. Data are in current U.S. dollars.

Params:

- `time`: 1990 to 2023

- `country`: all

- `series`: NY.GDP.PCAP.CD = GDP per capita (current USD)

In [63]:
df_gdp = pd.read_csv("data/raw/gross-domestic-product.csv")

In [64]:
df_gdp.head(1)

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,..,..,..,174.930991430166,138.706821676113,178.954088379235,198.871115728727,221.763653873013,254.184249149336,274.218553561575,376.223152003876,625.054941813938,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,415.707417059086

In [65]:
#Eliminamos columnas irrelevantes:
df_gdp.drop(columns = ['Series Name', 'Series Code'], inplace = True)

In [66]:
df_gdp.head(1)

,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,..,..,..,174.930991430166,138.706821676113,178.954088379235,198.871115728727,221.763653873013,254.184249149336,274.218553561575,376.223152003876,625.054941813938,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,415.707417059086

In [67]:
#renombramos las columnas:
df_gdp.columns  = ['Country Name', 'Country Code', '1990', '1991',
       '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006',
       '2007', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020',
       '2021', '2022', '2023']

In [68]:
df_gdp.head(1)

,Country Name,Country Code,1990,1991,1999,2000,2001,2002,2003,2004,2005,2006,2007,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,..,..,..,174.930991430166,138.706821676113,178.954088379235,198.871115728727,221.763653873013,254.184249149336,274.218553561575,376.223152003876,625.054941813938,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,415.707417059086

In [69]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1990          266 non-null    object
 3   1991          266 non-null    object
 4   1999          266 non-null    object
 5   2000          266 non-null    object
 6   2001          266 non-null    object
 7   2002          266 non-null    object
 8   2003          266 non-null    object
 9   2004          266 non-null    object
 10  2005          266 non-null    object
 11  2006          266 non-null    object
 12  2007          266 non-null    object
 13  2014          266 non-null    object
 14  2015          266 non-null    object
 15  2016          266 non-null    object
 16  2017          266 non-null    object
 17  2018          266 non-null    object
 18  2019          266 non-null    object
 19  2020          266 non-null    object
 20  2021          266 non-null    object
 21  2022          266 non-null    object
 22  2023          266 non-null    object
dtypes: object(23)
memory usage: 48.8+ KB

In [70]:
lista_col =['1990', '1991', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023']

for col in lista_col:
    df_gdp[col]= pd.to_numeric(df_gdp[col].astype(str).str.strip(), errors='coerce')

In [71]:
#hay duplicados, los eliminamos:
df_gdp.duplicated().sum()

4

In [72]:
df_gdp = df_gdp.drop_duplicates()

In [73]:
#Comprobamos si ahora hay duplicados:
df_gdp.duplicated().sum()

0

In [74]:
#Gestion de nulos:
df_gdp.isnull().sum()/df_gdp.shape[0]*100

Country Name     0.374532
Country Code     0.374532
1990            10.112360
1991             9.737828
1999             6.367041
2000             5.617978
2001             5.243446
2002             3.745318
2003             3.745318
2004             3.745318
2005             3.745318
2006             3.370787
2007             3.370787
2014             2.247191
2015             2.996255
2016             3.370787
2017             3.370787
2018             3.370787
2019             2.996255
2020             3.370787
2021             3.370787
2022             4.494382
2023             8.988764
dtype: float64

In [ ]:
df_gdp_trans = sp.pivot_df(df_gdp, ['Country Name', 'Country Code'], 'Year', 'GDP($)')

In [30]:
df_gdp.to_csv('data/usable/gross-domestic-product.csv', index=False)

In [78]:
df_gdp_trans.to_csv('data/usable/gross-domestic-product-trans.csv', index=False)